.site-header {
    background-color: #1bbc9b;
    color: #171717;
    height: 100vh;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15;
}

.site-header-content {
    margin: 10px;
}

.profile-pic {
    border-radius: 75%;
    height: 200px;
    width: 200px;
    align-self: center;
    box-shadow: black 2px 5px 5px;
}

.course-link {
    color: white;
    ;
}
 
body {
    margin:0;
}
